.button {
  background-color: $basic-green;
  font-family: $osvald-font;
  color: $basic-white;
  text-transform: uppercase;

  @include font-size-height (14px, 18px);
  text-decoration: none;
  transition-property: background-color, color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  &--grey {
    background-color: #f2f2f2;
    color: $dark-grey;
    transition-property: background-color, color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;

    &:hover {
      background-color: #ebebeb;
    }

    &:active {
      color: rgba(68, 68, 68, 0.3);
    }
  }
}
