.contacts {
  width: 320px;
}

.contacts__invitation-wrapper {
  background-color: $basic-white;
  padding: 26px 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.contacts__text {
  font-family: $osvald-font;

  @include font-size-height (16px, 20px);
  text-transform: uppercase;
  margin: 0;
  color: $third-black;
}

.contacts__address {
  @include font-size-height (14px, 20px);
  font-style: normal;
}

.contacts__map {
  height: 362px;
  width: 320px;
}
