.example {
  background-color: #eaeaea;

  @media (min-width: $tablet-width) {
    background-image: linear-gradient(to top, #eaeaea 0, #eaeaea 462px, $basic-white 462px, $basic-white 100%);
  }

  @media (min-width: $desktop-width) {
    background-image: linear-gradient($basic-white 0, $basic-white 136px, #f2f2f2 136px, #f2f2f2 598px);
  }
}

.example__container {
  padding-top: 25px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding-top: 45px;
    padding-bottom: 101px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
    padding-bottom: 75px;
    display: grid;
    grid-template-columns: 1fr 560px;
    gap: 227px;
  }
}

.example__title {
  @include font-size-height (36px, 40px);
  margin: 0 0 40px 0;

  @media (min-width: $tablet-width) {
    @include font-size-height (60px, 60px);
    margin: 0 0 60px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 146px 0;
  }
}

.example__text {
  margin: 0 0 20px 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 55px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 69px 0;
  }
}

.example__wrapper {
  @media (min-width: $tablet-width) {
    margin: 0 0 104px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    display: block;
    margin: 0;
  }
}

.example__statistic {
  margin: 0 0 34px 0;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 60px 0;
  }
}


.example__expences {
  margin: 0 0 20px 0;
  text-transform: uppercase;
  font-family: $osvald-font;

  @include font-size-height (14px, 20px);
  color: $basic-black;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 0;

    @include font-size-height (20px, 20px);
    width: 174px;
    text-align: right;
    letter-spacing: 0.11px;
  }

  @media (min-width: $desktop-width) {
    width: unset;
    text-align: left;
  }
}

.example__expences-price {
  margin: 0 0 0 3.5px;
  display: inline-block;

  @media (min-width: $tablet-width) {
    margin: 9px 0 0 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 0 63px;
  }
}

.example__slider {
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}
