.footer-links__container {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    gap: unset;
    padding-top: 55px;
    padding-bottom: 55px;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    padding-top: 66px;
    padding-bottom: 66px;
  }
}

.footer-links__home {
  position: relative;
  width: 100%;
  text-align: center;
  color: $third-black;
  line-height: 10px;

  @include transition (color);

  @media (min-width: $tablet-width) {
    width: 164px;
    text-align: start;
  }

  &::before {
    @include pseudo;
    bottom: -20px;
    left: 0;
    border-top: 1px solid #d9d9d9;
    width: 100%;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &:hover {
    color: #3e3e3e;
  }

  &:active {
    color: #6b6b6b;
  }
}


.footer-links__socials {
  position: relative;
  width: 100%;

  &::before {
    @include pseudo;
    bottom: -20px;
    left: 0;
    border-top: 1px solid #d9d9d9;
    width: 100%;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.footer-links__academy-link {
  @include font-size-height (16px, 20px);
  text-decoration: none;
  color: $dark-grey;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 140px;

  @include transition (opacity);

  @media (min-width: $tablet-width) {
    gap: 23px;
  }

  &:hover .footer-links__academy-logo {
    color: $basic-green;
  }

  &:active {
    opacity: 0.3;

    & .footer-links__academy-logo {
      color: $basic-green;
    }
  }
}

.footer-links__academy-logo {
  color: #666666;

  @include transition (color);
}
