.form-radio__list-container {
  padding: 22px 20px 18px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    padding: 22px 27px 26px;
    margin: 0 70px;
    border-left: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
  }

  @media (min-width: $desktop-width) {
    padding: 24px 28px;
    margin: 0;
    max-width: unset;
    width: 570px;
  }
}

.form-radio__list {
  display: flex;
  flex-direction: column;
  gap: 13px;
  font-family: $osvald-font;

  @include font-size-height (16px, 18px);
  @include style-list-none;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    @include font-size-height (20px, 30px);
  }
}

.form-radio__label {
  display: flex;
  align-items: center;

  @include transition (opacity);

  &:hover .form-radio__mark-radio {
    border: 1px solid #bababa;
  }

  &:disabled {
    opacity: 0.3;
  }
}

.form-radio__input {
  &:focus + .form-radio__mark-radio {
    border: 1px solid $basic-green;
    box-shadow: 0 0 0 1px $basic-green;
  }

  &:checked + .form-radio__mark-radio::before {
    @include pseudo;
    width: 13px;
    height: 13px;
    background-color: $basic-green;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media (min-width: $tablet-width) {
      width: 18px;
      height: 18px;
    }
  }
}

.form-radio__mark-radio {
  width: 28px;
  height: 28px;
  border: 1px solid #cdcdcd;
  border-radius: 50%;
  position: relative;

  @include transition (border);

  @media (min-width: $tablet-width) {
    width: 38px;
    height: 38px;
  }
}

.form-radio__description {
  padding-left: 15px;

  @media (min-width: $tablet-width) {
    padding-left: 20px;
  }
}
