.form__fieldset {
  margin-bottom: 24px;
}

.form__fieldset-input-wrapper {
  width: 320px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form__label {
  display: flex;
  align-items: center;
  gap: 14px;
  font-family: $osvald-font;

  @include font-size-height (16px, 18px);
  text-transform: uppercase;
}

.form__input {
  flex-grow: 1;
}
