.hero {
  color: $basic-white;
  font-family: $osvald-font;
  background-image: linear-gradient(to top, $basic-white 0, $basic-white 178px, rgb(99, 166, 59,) 178px, rgb(99, 166, 59,) 100%);
  background-repeat: no-repeat;
  background-position: top;

  @media (min-width: 558px) {
    background-image: linear-gradient(to top, $basic-white 0, $basic-white 142px, rgb(99, 166, 59,) 142px, rgb(99, 166, 59,) 100%);
  }

  @media (min-width: $tablet-width) {
    color: $basic-black;
    background: unset;
  }

  @media (min-width: $desktop-width) {
    background-image: linear-gradient(to top, $basic-white 0, $basic-white 52px, rgb(99, 166, 59,) 52px, rgb(99, 166, 59,) 100%);
    background-repeat: no-repeat;
    background-position: top left 50vw;
  }
}

.hero__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/index-background-mobile.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 320px 302px;

  @media (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/index-background-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    background: unset;
    display: block;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    padding-top: 143px;
    padding-bottom: 52px;
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/index-background-desktop.jpg");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 720px 694px;

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/index-background-desktop@2x.jpg");
    }
  }
}

.hero__title {
  margin: 27px 15px 25px 15px;
  font-weight: 400;
  text-align: center;

  @include font-size-height (36px, 36px);

  @media (min-width: $tablet-width) {
    margin: 40px 200px 40px 90px;
    text-align: unset;

    @include font-size-height (60px, 60px);
  }

  @media (min-width: $desktop-width) {
    width: 420px;
    margin: 81px 0 40px 80px;
  }
}

.hero__slogan {
  margin: 0 0 29px 0;
  text-transform: uppercase;
  text-align: center;

  @include font-size-height (14px, 14px);

  @media (min-width: $tablet-width) {
    margin: 0 0 50px 90px;
    text-align: unset;

    @include font-size-height (20px, 20px);
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 52px 80px;
  }
}

.hero__image {
  margin-bottom: 3px;
  display: block;

  @media (min-width: $tablet-width) {
    position: absolute;
    z-index: -1;
    margin-bottom: 0;
    top: 201px;
  }

  @media (min-width: $desktop-width) {
    z-index: 0;
    top: 143px;
    left: 557px;
  }
}

.hero__button {
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  padding: 10px 44px;
  display: block;

  @include font-size-height (16px, 20px);

  @media (min-width: $tablet-width) {
    width: 244px;
    padding: 14px 26px;
    margin: 0 0 526px 90px;

    @include font-size-height (20px, 26px);
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 184px 80px;
  }
}

