.input {
  font-family: $osvald-font;

  @include font-size-height (16px, 18px);
  text-transform: uppercase;
  padding: 14px 15px 13px;
  border: 1px solid #e7e7e7;

  @include transition (border);

  &:focus {
    outline: none;
    border: 1px solid $dark-grey;
  }

  &:invalid {
    border: 1px solid #ff8282;
  }

  @media (min-width: $tablet-width) {
    @include font-size-height (20px, 30px);
    padding: 11px 20px;
  }

  &::placeholder {
    color: $dark-grey;
  }

  &--number::-webkit-outer-spin-button,
  &--number::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }

  &--email {
    background-image: url("../img/email-icon.svg");
    background-repeat: no-repeat;
    background-position: right 12px top 13px;
    padding-right: 48px;

    @media (min-width: $tablet-width) {
      background-position: right 14px top 16px;
    }

    @media (min-width: $desktop-width) {
      width: 494px;
      box-sizing: border-box;
    }
  }

  &--tel {
    background-image: url("");
    background-repeat: no-repeat;
    background-position: right 12px top 13px;
    padding-right: 48px;

    @media (min-width: $desktop-width) {
      width: 472px;
      box-sizing: border-box;
    }
  }
}
