.input {
  font-family: $osvald-font;

  @include font-size-height (16px, 18px);
  text-transform: uppercase;
  padding: 14px 15px 13px;
  border: 1px solid #e7e7e7;

  @include transition (border);

  &:focus {
    outline: none;
    border: 1px solid $dark-grey;
    box-shadow: 0 0 0 1px $dark-grey;

    & + .input__logo {
      color: $basic-green;
    }
  }

  &:invalid {
    border: 1px solid #ff8282;

    & + .input__logo {
      color: #ff8282;
    }
  }

  @media (min-width: $tablet-width) {
    @include font-size-height (20px, 30px);
    padding: 11px 20px;
  }

  &::placeholder {
    color: $dark-grey;
  }

  &--number::-webkit-outer-spin-button,
  &--number::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }

  &--email {
    padding-right: 48px;

    @media (min-width: $desktop-width) {
      width: 494px;
      box-sizing: border-box;
    }
  }

  &--tel {
    padding-right: 48px;

    @media (min-width: $desktop-width) {
      width: 472px;
      box-sizing: border-box;
    }
  }

  &__logo {
    position: absolute;
    color: #222222;
    right: 13px;
    top: 14px;

    @include transition (color);

    @media (min-width: $tablet-width) {
      right: 15px;
      top: 17px;
    }
  }
}
