.page-container {
  flex-grow: 1;
}

.page-container__title-wrapper {
  margin: 27px auto 41px;

  @media (min-width: $tablet-width) {
    margin: 40px auto 84px;
  }

  @media (min-width: $desktop-width) {
    margin: 188px auto 84px;
  }

  &--form {
    margin: 27px auto 37px;

    @media (min-width: $tablet-width) {
      margin: 41px auto 66px;
      padding: 0 70px;
    }

    @media (min-width: $desktop-width) {
      margin: 188px auto 66px;
      padding: 0 110px;
    }
  }
}

.page-container__title {
  font-family: $osvald-font;

  @include font-size-height (36px, 36px);
  color: $basic-black;
  font-weight: 400;
  margin: 0;

  @media (min-width: $tablet-width) {
    @include font-size-height (60px, 60px);
  }
}

.page-container__description {
  margin: 37px 0 39px 0;
  text-transform: uppercase;
  font-family: $osvald-font;
  color: $basic-black;
  width: 226px;

  @media (min-width: $tablet-width) {
    margin: 54px 0 66px 0;
    width: 323px;

    @include font-size-height (20px, 30px);
  }

  @media (min-width: $desktop-width) {
    margin: 55px 0 66px 0;
  }
}
