.program-item {
  padding: 30px 33px 18px 20px;
  background-color: #f2f2f2;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 77px 316px 53px 52px;
  }

  @media (min-width: $desktop-width) {
    padding: 77px 61px 55px 52px;
  }

  &--slim::before {
    @include pseudo;
    width: 50px;
    height: 53px;
    background-image: url("../img/slim-logo.svg");
    background-repeat: no-repeat;
    background-size: 50px 53px;
    background-position: center;
    top: 21px;
    left: 20px;

    @media (min-width: $tablet-width) {
      width: 200px;
      height: 211px;
      background-image: url("../img/slim-logo.svg");
      background-size: 200px 211px;
      top: 81px;
      left: unset;
      right: 63px;
    }

    @media (min-width: $desktop-width) {
      width: 100px;
      height: 106px;
      background-image: url("../img/slim-logo.svg");
      background-size: 100px 106px;
      top: 41px;
      right: unset;
      left: 52px;
    }
  }

  &--pro::before {
    @include pseudo;
    width: 67px;
    height: 50px;
    background-image: url("../img/pro-logo.svg");
    background-repeat: no-repeat;
    background-size: 67px 50px;
    background-position: center;
    top: 24px;
    left: 13px;

    @media (min-width: $tablet-width) {
      width: 268px;
      height: 200px;
      background-image: url("../img/pro-logo.svg");
      background-size: 268px 200px;
      top: 91px;
      left: unset;
      right: 29px;
    }

    @media (min-width: $desktop-width) {
      width: 134px;
      height: 100px;
      background-image: url("../img/pro-logo.svg");
      background-size: 134px 100px;
      top: 47px;
      left: 33px;
      right: unset;
    }
  }
}

.program-item__title {
  color: $basic-black;
  font-weight: 400;
  font-family: $osvald-font;

  @include font-size-height (24px, 37px);
  text-transform: uppercase;
  margin: 0 0 29px 90px;

  @media (min-width: $tablet-width) {
    @include font-size-height (36px, 36px);
    margin: 0 0 24px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 73px 162px;
  }
}

.program-item__description {
  margin: 0 0 38px 0;
  position: relative;

  @media (min-width: $tablet-width) {
    margin: 0 0 52px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 27px 0;
  }

  &::before {
    @include pseudo;
    bottom: -23px;
    left: 0;
    width: 240px;
    border-top: 1px solid #d9d9d9;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.program-item__link {
  text-decoration: none;
  color: $basic-black;
  text-transform: uppercase;

  @include font-size-height (16px, 16px);
  font-family: $osvald-font;
  padding: 4px 47px 4px 0;
  background-image: url("../img/icon_arrow.svg");
  background-repeat: no-repeat;
  background-position: right center;

  @include transition (opacity);

  &:hover {
    background-image: url("../img/icon_arrow_long.svg");
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    @include font-size-height (20px, 30px);
    padding: 4px 57px 4px 0;
  }
}
