.slider {
  height: 256px;
  width: 280px;
  position: relative;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    height: 512px;
    width: 560px;
  }
}

.slider__before {
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  z-index: 2;
  width: 50%;
  height: 100%;
}

.slider__image {
  object-fit: cover;

  &--before,
  &--after {
    background-image: linear-gradient(#eaeaea 0, #eaeaea 256px);

    @media (min-width: $tablet-width) {
      background-image: linear-gradient($basic-white 0, $basic-white 151px, #eaeaea 151px, #eaeaea 512px);
    }

    @media (min-width: $desktop-width) {
      background-image: linear-gradient($basic-white 0, $basic-white 136px, #f2f2f2 136px, #f2f2f2 512px);
    }
  }
}

.slider__button {
  z-index: 3;
  border: 2px solid #666666;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  padding: 0;
  background-color: $basic-white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #666666;
  transition-property: color, opacity, border;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    color: $basic-green;
    border: 2px solid $basic-green;

    &::before {
      border-color: $basic-green;
    }
  }

  &:active {
    color: $basic-green;
    border: 2px solid $basic-green;
    opacity: 0.6;

    &::before {
      border-color: $basic-green;
      opacity: 0.6;
    }
  }

  &::before {
    @include pseudo;
    border-right: 2px solid #666666;
    border-left: 2px solid #666666;
    border-radius: 2px;
    height: 256px;
    top: -108px;
    left: 50%;
    transform: translateX(-50%);
    transition-property: border-color, opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;

    @media (min-width: $tablet-width) {
      height: 512px;
      top: -236px;
    }
  }

  &::after {
    @include pseudo;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: $basic-white;
  }
}

.slider__button-icon {
  z-index: 4;
}
