.social-networks {
  @include style-list-none;
  display: flex;
  justify-content: center;
  gap: 16px;

  @media (min-width: $tablet-width) {
    width: unset;
    padding-top: 8px;
    padding-bottom: 7px;
  }
}

.social-networks__item {
  display: flex;
}

.social-networks__link {
  display: flex;
  align-items: center;
  padding: 0 4px;
  color: #666666;
  transition-property: color, opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;

  &:hover {
    color: $basic-green;
  }

  &:active {
    opacity: 0.3;
  }
}

