.social-networks {
  @include style-list-none;
  display: flex;
  justify-content: center;
  gap: 16px;
  width: 280px;

  @media (min-width: $tablet-width) {
    width: unset;
  }
}

.social-networks__item {
  display: flex;
}

.social-networks__link {
  display: flex;
  align-items: center;
  padding: 0 4px;
}
