.subtitle {
  position: relative;

  &::before {
    @include pseudo;
    left: 0;
    top: 16px;
    border: 1px solid $basic-green;
    width: 100%;
    z-index: -1;
  }
}

.subtitle-wrapper {
  width: 320px;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
}

.subtitle__text {
  font-family: $osvald-font;
  color: $basic-black;
  font-weight: 400;
  margin: 0;
  background-color: $basic-white;
  padding: 0 20px;
  max-width: 182px;

  @include font-size-height (24px, 26px);
}
