.subtitle {
  display: flex;
}

.subtitle__text {
  font-family: $osvald-font;
  color: $basic-black;
  font-weight: 400;
  margin: 0;
  position: relative;
  background-color: $basic-white;
  padding-right: 20px;

  &::before {
    @include pseudo;
    left: 0;
    top: calc(50% + 4px);
    border: 1px solid $basic-green;
    width: 700px;
    z-index: -1;
  }
}
