body {
  color: $dark-grey;
  font-family: $lato-font;

  @include font-size-height (14px, 18px);
  font-style: normal;
  font-weight: 400;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  min-width: 320px;

  @media (min-width: $tablet-width) {
    @include font-size-height (16px, 24px);
  }
}

html {
  height: 100%;
}

img {
  display: block;
}
