// Шрифты

$lato-font: "Lato", "Arial", "Helvetica", sans-serif;
$osvald-font: "Oswald", "Arial", "Helvetica", sans-serif;

// Цвета

$dark-grey: #444444;
$basic-black: #000000;
$secondary-black: #222222;
$third-black: #111111;
$basic-green: #68b738;
$basic-white: #ffffff;


// Устройства

$mobile-width: 320px;
$tablet-width: 768px;
$max-tablet-width: 767px;
$desktop-width: 1440px;
